* {
  margin: 2px;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.restaurant-title-container {
  display: flex;
  justify-content: flex-start;
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  align-items: center;
  border-bottom: 1px solid #f5f5f6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.nav-list {
  display: flex;
  align-items : center ; 
}

.nav-list > li {
  font-size: 18px;
}

li {
  list-style: none;
  margin-left: 25px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-title {
  margin-left: 5px;
  color: #00a6ed;
}

.logo-img {
  height: 48px;
  width: 48px;
}

.body {
  font-family: ProximaNova, arial, "Helvetica Neue", sans-serif;
  margin: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28px;
}

.restaurant-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
  width: 90%;
}

.restaurant-list .restaurant-card {
  width: 280px;
  height: 288px;
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 3px 15px;
  border: 1px solid transparent;
}

.restaurant-card:hover {
  transform: scale(0.95);
}

.restaurant-img {
  width: 280px;
  height: 186px;
  border-radius: 15px;
}

.star-icon {
  width: 18px;
  height: 18px;
}

.restaurant-card-title {
  color: #161a1f;
  width: 250px; /* Set width of the container */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}

.delivery-time {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.cuisines {
  color: #676a6d;
  width: 250px; /* Set width of the container */
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f6f7; 
  color: #414449;
  text-align: center;
  font-weight: bold ; 
  padding: 20px;
  z-index: 999;
}

.body-header {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: flex-start;
  width: 85%;
  margin: 25px 0px;
}

input {
  padding: 3px 8px;
  font-size: 18px;
  color: #1f1f1f;
  outline: none;
  border-radius: 5px;
  border: 1px solid #181818;
}

.search {
  cursour: pointer;
  padding: 3px 8px;
  font-size: 28px;
  color: #1f1f1f;
  border: 1px solid #181818;
  border-radius: 5px;
}




/* shimmer-card */
.shimmer-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
  width: 90%;
}

.shimmer-list .shimmer-card {
  width: 280px;
  height: 288px;
}

.shimmer-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 3px 15px;
  border: 1px solid transparent;
}

.shimmer-img{
  width: 280px;
  height: 186px;
  border-radius: 15px;
  background: #f5f6f7 ; 

}

.shimmer-title{
  display : flex ; 
  width : 70% ;  
  height: 18px ; 
  border-radius: 15px;
  background: #f5f6f7 ; 
}
.rating-delivery{
  display: flex ;
}
.rating-icon{
  width: 18px ;
  height : 18px; 
  border-radius : 50% ; 
  background: #f5f6f7 ; 
}

.delivery{
  display : flex ; 
  width : 65% ;  
  height: 18px ; 
  border-radius: 15px;
  background: #f5f6f7 ; 
}


.login-btn{
  padding: 3px 5px; 
  cursour: pointer ; 
  font-size: 18px; 
  outline: none;

}